<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>books</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/09dff34e5e.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div class="nav-box">
            <div class="left">
                <H2>BOOKS<span>storage</span></H2>
            </div>
            <div class="right">
            <li><a href="/">Home</a></li>
            <li><a href="/add">Add book</a></li>
            </div>
        <div class="menu-btn"><i class="fa-solid fa-book"></i></div>
        </div>
    </nav>

<script src="/js/func.js"></script>
</body>
</html>